---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle ="My Astro Learning Blog"
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Blog</h1>
    <h2>oh look at me, another developer creating a blog site using astro</h2>
  
    <p>pretty neat tutorial though</p>
    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>